/.sculpin/
/app/cache/*
/app/config/sculpin_kernel_*.yml
/app/config/sculpin_site_*.yml
/app/logs/*
/output_*/
/source/components/
s3.conf
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/timbroder.com-sculpin.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/scopes/scope_settings.xml
vendor*