---
layout: default
title: Category Archive
generator: [posts_category_index, pagination]
pagination:
    provider: page.category_posts

---

{% block head_meta %}
    <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/blog/categories/{{ page.category|url_encode(true) }}.xml" title="{{ site.title }} '{{ page.category }}' category feed" />
    <meta name="robots" content="noindex, follow">
{% endblock %}

{% block title %}{{ page.title }} "{{ page.category }}"{% endblock %}
{% block content %}
{% set index = 'index' %}
{% for post in page.pagination.items %}
<article class="post" role="article">
    {% include "article" %}

</article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
<nav>
    {% if page.pagination.previous_page %}<a href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
    {% if page.pagination.next_page %}<a href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
</nav>
{% endif %}
{% endblock content %}
