<header class="main-header">
    {#<nav class="main-nav overlay clearfix">
        <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
    </nav>#}
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">
                <a href="/">
                    {{ site.title }}
                </a>
            </h1>
            {#% if site.subtitle %}
            <h2 class="page-description">{{ site.subtitle }}</h2>
            {% endif %#}
            <h2 class="page-description">
                <a href="/apps.html">Apps</a>
                <a href="/projects.html">Projects</a>
                <a href="/podcasts.html">Podcasts</a>
                <a href="/talks.html">Talks</a>
                {# <a href="/about.html">About</a> #}
            </h2>
        </div>
    </div>
    {# <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a> #}
</header>