<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% include "title" %}
    {# <meta name="description" content="{{meta_description}}" /> #}

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {# <link rel="shortcut icon" href="{{ site.url }}/{{ stylesheet }}"> #}

    {% if site.head_includes %}
        {% for include in site.head_includes %}
            {% include include %}
        {% endfor %}
    {% endif %}
    {% include "custom/fonts" %}
    {% include "custom/head" %}
    <link href="{{ site.url }}/{{ theme_path("assets/css/screen.css") }}" rel="stylesheet" media="screen">
    <link href="{{ site.url }}/{{ theme_path("assets/css/tag_cloud.css") }}" rel="stylesheet" media="screen">
    <link href="{{ site.url }}/{{ theme_path("assets/css/twilight.css") }}" rel="stylesheet" media="screen">
    {# <link href="{{ site.url }}/{{ theme_path("assets/css/rainbow-linenumbers.css") }}" rel="stylesheet" media="screen"> #}
</head>
