---
layout: default
title: Home
generator: pagination
use:
    - posts
---
{% set index = 'index' %}
{% for post in page.pagination.items %}
    <article class="post" role="article">
        {% include "article" %}

    </article>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
    <nav class="pagination" role="navigation">
        {% if page.pagination.next_page %}
        <a class="next" href="{{ site.url }}{{ page.pagination.next_page.url }}">&larr; Older</a>
        {% endif %}

        {% if page.pagination.previous_page %}
        <a class="prev" href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer &rarr;</a>
        {% endif %}
    </nav>
{% endif %}
